@charset "UTF-8";

/*body{
  background-image:url(../img/login.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}*/

.login_bd .wrap .infro .tel_pic {
  opacity: 0;
  filter: alpha(opacity=0); }

.tools .top .top_nav .menu_btn.hover, .tools .top .top_area .area_a.hover {
  background-color: #fff;
  padding-top: 3px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  position: relative; }

.D_tab_bang .bang_con .book_top li .img img {
  display: block;
  width: 100%;
  height: 100%; }

.tab_box .head li {
  border: 1px solid #e6e6e6;
  border-width: 1px 0 0 1px;
  overflow: hidden; }

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, td, figure {
  margin: 0;
  padding: 0; }

body {
  font: 12px  "宋体";
  word-wrap: break-word; }

html {
  font-family: "Microsoft Yahei"; }

a, u, s, del {
  color: #666;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

i, em, b {
  font-style: normal;
  font-weight: 100; }

li {
  list-style: none; }

img {
  vertical-align: middle; }

fieldset, a img, .bor0 {
  border: 0; }

table {
  border-collapse: collapse; }

.ind2 {
  text-indent: 2em; }

.cu {
  cursor: pointer; }

.valign:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 100%; }

.over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.clear {
  zoom: 1; }

.clear:before {
  content: "";
  display: table; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

#header {
  color: #646464;
  background: #fff; }
  #header .icon_n {
    position: absolute;
    display: block;
    bottom: 26px;
    left: 50%;
    margin-left: -28px;
    text-align: center;
    font-size: 0; }

.tools {
  width: 100%;
  background: #f9f9f9;
  border-bottom: 1px solid #f2f2f2;
  height: 34px;
  line-height: 34px;
  position: relative;
  z-index: 10010; }
  .tools .top {
    width: 1200px;
    margin: 0 auto; }
    .tools .top a:hover {
      color: #ff2832;
      text-decoration: none; }
    .tools .top .top_nav {
      float: right;
      padding-top: 4px; }
      .tools .top .top_nav li {
        height: 22px;
        line-height: 21px;
        padding-top: 4px;
        float: left;
        background: url("../img/index/head_sprite.png") no-repeat left -285px;
        position: relative;
        z-index: 100; }
        .tools .top .top_nav li a {
          display: block;
          position: relative;
          line-height: 21px;
          padding: 0 7px 0 8px; }
      .tools .top .top_nav .top_cart {
        background-image: none; }
      .tools .top .top_nav .icon_cart {
        width: 15px;
        height: 14px;
        float: left;
        background: url("../img/index/home_sprite2.png") no-repeat -40px -86px;
        overflow: hidden;
        margin: 3px 9px 0 0; }
      .tools .top .top_nav #top_nav_count {
        color: #ff2832;
        font: bold 12px "Arial"; }
      .tools .top .top_nav .menu_btn {
        background: url("../img/index/head_sprite.png") no-repeat right -307px;
        padding-right: 27px; }
        .tools .top .top_nav .menu_btn.hover {
          background-position: right -321px;
          margin: -4px -1px 0;
          width: 48px; }
      .tools .top .top_nav .headlist {
        position: absolute;
        top: 21px;
        left: -1px;
        border: 1px solid #e6e6e6;
        border-top: none;
        background-color: #fff;
        padding: 4px 0;
        width: 83px;
        display: none; }
        .tools .top .top_nav .headlist li {
          background: none;
          float: none;
          height: 22px;
          line-height: 22px;
          padding: 0;
          width: 79px; }
    .tools .top .top_reg {
      float: right;
      padding: 5px 0 0 10px;
      height: 24px;
      line-height: 24px;
      position: relative;
      z-index: 50; }
      .tools .top .top_reg .login_link {
        color: #ff2832; }
    .tools .top .top_area {
      float: left;
      position: relative;
      padding-top: 2px;
      margin-right: -1px;
      z-index: 100; }
      .tools .top .top_area .area_a {
        display: block;
        position: relative;
        line-height: 22px;
        height: 22px;
        background: url("../img/index/head_sprite.png") no-repeat right -303px;
        padding: 4px 22px 0 9px; }
        .tools .top .top_area .area_a.hover {
          background-position: right -320px;
          z-index: 100;
          padding-right: 21px;
          padding-left: 8px;
          color: #646464; }
      .tools .top .top_area .arrive_list {
        position: absolute;
        top: 27px;
        left: 0px;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        padding: 10px 0 10px 10px;
        width: 298px; }
      .tools .top .top_area li {
        background: none;
        float: left;
        width: 48px;
        height: 26px;
        line-height: 26px;
        padding: 0 0 0 10px;
        position: relative;
        z-index: 100; }
        .tools .top .top_area li a {
          color: #646464;
          line-height: 26px;
          height: 26px; }
          .tools .top .top_area li a:hover {
            text-decoration: underline;
            color: #ff2832; }

#sug_key {
  display: none;
  width: 408px;
  border: 1px solid #c8c8c8;
  border-top: none;
  z-index: 7777;
  position: absolute;
  left: 362px;
  top: 60px;
  background-color: #fff;
  color: #323232; }
  #sug_key ul {
    padding-top: 6px; }
  #sug_key li {
    display: block;
    padding-left: 10px;
    height: 22px;
    line-height: 22px;
    cursor: pointer; }
  #sug_key .d {
    float: right;
    color: #969696;
    padding-right: 10px; }

#logo {
  position: relative; }
  #logo .logoSearch {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    position: relative; }
  #logo .logo {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
    width: 362px;
    height: 100px;
    vertical-align: middle; }
  #logo .search {
    position: absolute;
    left: 362px;
    top: 0;
    display: block;
    margin-top: 20px;
    height: 48px;
    z-index: 9999; }
  #logo .form {
    height: 50px; }
    #logo .form .wrap_search {
      position: absolute;
      left: 10px;
      top: 2px;
      display: block;
      width: 398px;
      height: 36px;
      line-height: 36px;
      z-index: 1;
      overflow: hidden; }
    #logo .form .text {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      font-size: 12px;
      line-height: 18px;
      color: #323232;
      width: 398px;
      height: 18px;
      border: 2px solid #ff2832;
      border-right: none;
      padding: 9px 0 9px 10px;
      z-index: 2;
      outline: none;
      background: none; }
    #logo .form .select {
      position: absolute;
      left: 410px;
      top: 0;
      display: block;
      font-size: 16px;
      line-height: 36px;
      color: #969696;
      border: 2px solid #ff2832;
      border-left: 0px solid #dedede;
      width: 92px;
      height: 36px;
      padding: 0 0 0 14px;
      cursor: pointer;
      background-color: #f6f6f6; }
      #logo .form .select .select_pop {
        border: 1px solid #dedede;
        position: absolute;
        left: 0;
        top: 36px;
        display: block;
        width: 104px;
        height: 288px;
        background-color: #fff;
        overflow: auto; }
        #logo .form .select .select_pop li a {
          display: block;
          height: 24px;
          padding: 0 5px 0 15px;
          text-decoration: none;
          font: 12px/24px 'Hiragino Sans GB',"simsun"; }
          #logo .form .select .select_pop li a:hover {
            background-color: #c8c8c8;
            color: #fff !important; }
      #logo .form .select .icon {
        position: absolute;
        width: 13px;
        height: 7px;
        left: 88px;
        top: 16px;
        overflow: hidden;
        background: url("../img/index/head_sprite.png") no-repeat -14px -90px; }
    #logo .form .gobtn {
      position: absolute;
      width: 48px;
      height: 40px;
      left: 517px;
      top: 0px;
      border: none;
      background: url("../img/index/head_sprite.png") no-repeat 0 -346px;
      cursor: pointer; }
  #logo .resou {
    position: absolute;
    width: 585px;
    height: auto;
    left: 362px;
    top: 65px;
    color: #969696;
    line-height: 20px;
    z-index: 6666; }
    #logo .resou a {
      color: #969696;
      margin-right: 15px;
      height: 20px;
      overflow: hidden; }
      #logo .resou a:hover {
        color: #ff2832; }
    #logo .resou .hot {
      width: 518px;
      height: 20px;
      float: left;
      overflow: hidden; }
      #logo .resou .hot .search_most {
        float: left; }
  #logo .cart, #logo .myorder {
    height: 36px;
    position: absolute;
    top: 20px;
    border: 2px solid #dcdcdc;
    font: 14px/36px "Microsoft Yahei"; }
  #logo .cart {
    right: 88px;
    width: 107px;
    border-color: #ff2832;
    background: url("../img/index/icon_cart.png") 5px 0 no-repeat #ff2832; }
    #logo .cart:hover {
      background-position: 5px -36px;
      background-color: #f6f6f6;
      border-color: #dcdcdc;
      color: #ff2832; }
    #logo .cart:hover a, #logo .cart :hover span {
      color: #ff2832; }
    #logo .cart a {
      color: #fff;
      padding-left: 35px;
      width: 72px;
      display: inline-block; }
      #logo .cart a:hover {
        text-decoration: none; }
    #logo .cart span {
      color: #fff;
      padding-left: 3px;
      font-family: Arial;
      font-weight: bold; }
  #logo .myorder {
    width: 86px;
    padding: 0;
    text-align: center;
    right: 0;
    border-left: 0;
    background-color: #f6f6f6; }
    #logo .myorder a:hover {
      text-decoration: none;
      color: #ff2832; }

#nav {
  width: 100%;
  height: 40px;
  border-bottom: 3px solid #ff2832; }
  #nav ul {
    width: 1200px;
    margin: 0 auto; }
  #nav li {
    float: left;
    text-align: center;
    position: relative; }
    #nav li a {
      font-size: 14px;
      line-height: 40px;
      color: #323232;
      font-family: "Microsoft Yahei";
      text-decoration: none;
      padding: 0 15px;
      display: block;
      font-weight: bold; }
      #nav li a:hover {
        color: #ff2832; }
    #nav li.all {
      width: 200px;
      margin-right: 17px;
      text-align: left;
      background: #ff2832;
      position: relative; }
      #nav li.all a {
        padding: 0 0 0 20px;
        display: block;
        width: 171px;
        background: url("../img/index/head_sprite.png") no-repeat 161px -567px;
        color: #fff; }

/*----------底部样式--------------*/
.footer {
  border-top: 2px solid #ff2832;
  margin-top: 15px;
  background-color: #fff;
  clear: both; }
  .footer a {
    color: #8c8c8c; }

.footer_pic_new {
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb; }
  .footer_pic_new .footer_pic_new_inner {
    width: 940px;
    margin: 0 auto;
    height: 68px;
    padding: 5px 0 5px 30px; }
    .footer_pic_new .footer_pic_new_inner a {
      display: block;
      height: 52px;
      width: 187px;
      float: left;
      padding: 7px 0 7px 48px; }
      .footer_pic_new .footer_pic_new_inner a span {
        text-indent: -9999px;
        display: block;
        width: 138px;
        height: 52px;
        background: url("../img/footer/footer_bg.png") 0 0 no-repeat;
        font-size: 0;
        line-height: 0;
        cursor: pointer; }
    .footer_pic_new .footer_pic_new_inner a:nth-child(1) span {
      background-position-y: 0px; }
    .footer_pic_new .footer_pic_new_inner a:nth-child(2) span {
      background-position-y: -52px; }
    .footer_pic_new .footer_pic_new_inner a:nth-child(3) span {
      background-position-y: -104px; }
    .footer_pic_new .footer_pic_new_inner a:nth-child(4) span {
      background-position-y: -156px; }

.footer_public {
  width: 924px;
  margin: 0 auto;
  height: 140px;
  padding-top: 30px; }
  .footer_public .footerlist {
    width: 154px;
    float: left;
    text-align: center; }
  .footer_public .f_title {
    display: block;
    padding-left: 30px;
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #323232;
    height: 36px;
    line-height: 36px; }
  .footer_public ul {
    padding-left: 30px;
    list-style: none;
    margin: 0; }
  .footer_public li {
    line-height: 20px;
    height: 20px; }
    .footer_public li a {
      text-decoration: none;
      color: #7d7d7d;
      font-size: 12px; }
      .footer_public li a:hover {
        text-decoration: underline;
        color: #f44d20; }

.footer_box {
  border-top: 1px solid #ebebeb;
  width: 100%;
  min-width: 960px;
  color: #8c8c8c;
  font: 12px/20px "Microsoft Yahei";
  text-align: center;
  padding: 17px 0 50px; }
  .footer_box .footer_nav {
    padding: 17px 0 25px; }
  .footer_box .footer_text {
    padding-top: 10px; }
  .footer_box .footer_icon {
    width: 995px;
    margin: 0 auto;
    padding: 10px 0 0 55px;
    height: 80px; }
  .footer_box li {
    float: left;
    display: inline;
    padding: 15px 5px 15px;
    width: 182px;
    height: 47px; }
  .footer_box a {
    padding: 0 4px; }
  .footer_box a:hover {
    color: #f48570;
    text-decoration: underline; }
  .footer_box .sep {
    margin: 0 17px 0 19px; }

.tab_box {
  position: absolute;
  width: 910px;
  height: 443px;
  left: 0;
  top: 56px; }
  .tab_box .head {
    height: 44px;
    width: 655px;
    border-right: 1px solid #e6e6e6;
    position: absolute;
    top: -56px;
    right: 0; }
    .tab_box .head ul {
      float: right; }
    .tab_box .head li {
      width: 114px;
      height: 42px;
      float: left;
      padding-top: 1px;
      text-align: center;
      background-color: #f5f5f5;
      font: 14px/42px "Microsoft YaHei";
      color: #646464;
      cursor: default; }
      .tab_box .head li.on {
        font-weight: bold;
        background-color: #fff;
        width: 112px;
        border: 2px solid #000;
        border-bottom: 0;
        padding: 0 0 2px 0;
        margin-bottom: -2px;
        color: #525252; }
  .tab_box .con {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    width: 910px;
    height: 441px;
    overflow: hidden;
    position: relative; }
    .tab_box .con .tab_pic {
      position: absolute;
      width: 238px;
      height: 441px;
      left: 0;
      top: 0;
      border: 1px solid #e6e6e6;
      border-width: 0 1px;
      display: block;
      overflow: hidden;
      text-align: center; }
    .tab_box .con .bookType {
      position: absolute;
      bottom: 0;
      left: 1px;
      width: 237px;
      padding-left: 1px;
      background-color: #fff; }
      .tab_box .con .bookType li {
        width: 63px;
        height: 28px;
        float: left;
        line-height: 28px;
        padding-left: 16px;
        overflow: hidden; }
        .tab_box .con .bookType li a {
          color: #323232;
          font: 12px/28px "Microsoft YaHei"; }
          .tab_box .con .bookType li a:hover {
            text-decoration: none;
            color: #ff2832; }
    .tab_box .con .book_up {
      position: absolute;
      width: 334px;
      height: 220px;
      right: 0;
      top: 0;
      overflow: hidden;
      border-bottom: 1px solid #e6e6e6; }
    .tab_box .con .book_low {
      position: absolute;
      width: 668px;
      height: 220px;
      right: 0;
      top: 221px;
      overflow: hidden; }
    .tab_box .con .book_up .wrap, .tab_box .con .book_low .wrap {
      float: left;
      width: 166px;
      height: 220px;
      border-right: 1px solid #e6e6e6;
      position: relative; }
    .tab_box .con .book_up > a, .tab_box .con .book_low > a {
      display: block;
      width: 150px;
      height: 150px;
      overflow: hidden;
      text-align: center;
      margin: 7px auto 0; }
    .tab_box .con .book_up .name, .tab_box .con .book_low .name {
      height: 16px;
      line-height: 16px;
      width: 150px;
      margin: 5px auto 0;
      overflow: hidden; }
      .tab_box .con .book_up .name a:hover, .tab_box .con .book_low .name a:hover {
        color: #FF2832; }
    .tab_box .con .book_up .price, .tab_box .con .book_low .price {
      width: 150px;
      margin: 3px auto 0; }
    .tab_box .con .book_up .rob, .tab_box .con .book_low .rob {
      color: #ff2832;
      font: 14px Arial;
      display: inline-block;
      margin-right: 10px; }
    .tab_box .con .book_up .price_r, .tab_box .con .book_low .price_r {
      font: 12px Arial;
      color: #969696;
      text-decoration: line-through; }

.D_tab_bang {
  position: absolute;
  width: 278px;
  height: 497px;
  right: 0;
  top: 0;
  border: 1px solid #e6e6e6;
  overflow: hidden; }
  .D_tab_bang .bang_header {
    height: 46px;
    width: 280px; }
    .D_tab_bang .bang_header li {
      width: 139px;
      height: 46px;
      float: left;
      border-right: 1px solid #e6e6e6;
      text-align: center;
      color: #464646;
      font: 16px/46px "Microsoft YaHei",Simsun;
      background-color: #f5f5f5;
      cursor: default;
      border-bottom: 1px solid #e6e6e6; }
      .D_tab_bang .bang_header li.on {
        background-color: #fff;
        border-bottom: 1px solid #fff; }
  .D_tab_bang .bang_con .book_top {
    padding-top: 10px; }
    .D_tab_bang .bang_con .book_top ul {
      height: 429px;
      width: 278px;
      overflow: hidden; }
    .D_tab_bang .bang_con .book_top li {
      border-bottom: 1px solid #e5e5e5;
      width: 278px;
      clear: both;
      vertical-align: top; }
      .D_tab_bang .bang_con .book_top li.bar {
        height: 32px;
        line-height: 32px; }
      .D_tab_bang .bang_con .book_top li.item {
        height: 133px;
        display: none; }
        .D_tab_bang .bang_con .book_top li.item .num {
          height: 133px; }
        .D_tab_bang .bang_con .book_top li.item .name {
          height: 100px;
          margin: 15px 0 0 5px; }
          .D_tab_bang .bang_con .book_top li.item .name a {
            line-height: 13px; }
          .D_tab_bang .bang_con .book_top li.item .name span {
            display: block;
            color: #969696; }
      .D_tab_bang .bang_con .book_top li .img {
        width: 90px;
        height: 90px;
        float: left;
        overflow: hidden;
        margin: 15px 0 0; }
      .D_tab_bang .bang_con .book_top li:first-child .num, .D_tab_bang .bang_con .book_top li:first-child + li .num {
        color: #ff3228;
        font-weight: bold; }
      .D_tab_bang .bang_con .book_top li .name {
        width: 140px;
        height: 32px;
        float: left;
        line-height: 20px;
        overflow: hidden; }
    .D_tab_bang .bang_con .book_top .num {
      width: 25px;
      height: 33px;
      float: left;
      font: 12px/33px Arial;
      padding-left: 15px;
      background: #fff;
      margin-bottom: -1px;
      overflow: hidden; }

/*.roll_lunbo{
    width: 1198px;
    height: 55px;
    position: absolute;
    top: 634px;
    left: 0;
    border: 1px solid #e6e6e6;
    border-top: 0;
    .btn_brand_prev,.btn_brand_next{
        display: block;
        position: absolute;
        width: 30px;
        height: 43px;
        top: 7px;
        background-image: url("../img/index/home_sprite4.png");
        background-repeat: no-repeat;
        background-color: #000;
        z-index: 20;
        cursor: pointer;
        opacity: 0.2;
    }
    .btn_brand_prev{
        left: 0;
        background-position: 0px -83px;
    }
    .btn_brand_next{
        right: 0;
        background-position: -36px -83px;
    }
    .mix_tab{
        position: absolute;
        bottom: 6px;
        left: 50%;
        z-index: 666
    }
    .over{
        width: 1190px;
        margin: 0 auto;
        overflow: hidden;
        ul{
            width: 10000px;
            position: relative;
            li{
                width: 110px;
                height: 50px;
                padding: 3px 4px 2px 5px;
                float: left;
                overflow: hidden;
                a{
                    display: block;
                    width: 110px;
                    height: 50px;
                    overflow: hidden;
                    text-align: center;
                }
            }
        }
    }
}*/
.head {
  width: 1200px;
  margin: 0 auto;
  margin: 12px auto 14px;
  height: 60px; }
  .head img {
    float: left;
    margin-left: 7px; }
  .head .ideal {
    float: right;
    margin-top: 34px; }
    .head .ideal .icon {
      display: inline-block;
      width: 15px;
      height: 19px;
      background: url("../img/login/improve.png") no-repeat 0 0;
      vertical-align: middle; }
    .head .ideal .info {
      color: #787878; }
  .head a {
    color: #787878; }
    .head a:hover {
      text-decoration: underline; }

.login_bd {
  background: url("../img/login/bg.jpg") no-repeat center center;
  height: 590px; }
  .login_bd .login_bdimg {
    display: none; }
  .login_bd .set_area {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
    .login_bd .set_area .click_area {
      position: absolute;
      left: 5px;
      top: 85px;
      display: block;
      display: block;
      width: 655px;
      height: 415px;
      z-index: 100; }
  .login_bd .wrap {
    border: 1px solid #eef2f4;
    background: #fff;
    padding: 15px 25px 15px 15px;
    float: right;
    width: 320px;
    color: #6e6e6e;
    margin: 90px auto 0;
    position: relative;
    box-shadow: 0 1px 2px #eee; }
    .login_bd .wrap a {
      color: #1a66b3; }
      .login_bd .wrap a:hover {
        color: #1a66b3; }
    .login_bd .wrap input {
      outline: none; }
    .login_bd .wrap .new_tip {
      display: block;
      width: 338px;
      height: 24px;
      right: -1px;
      top: -27px;
      line-height: 24px;
      color: #828282;
      padding-left: 22px;
      background: url(../img/login/new_tip.png) 3px 5px no-repeat #fef7f5;
      border: 1px solid #fedbd1;
      position: absolute; }
    .login_bd .wrap .switch_btn .switch {
      position: absolute;
      left: none;
      top: 7px;
      display: block;
      display: block;
      width: 55px;
      height: 55px;
      background: url("../img/login/scan_icon.png");
      right: 5px;
      z-index: 10; }
    .login_bd .wrap .switch_btn .quick {
      background: url("../img/login/pc_icon.png"); }
    .login_bd .wrap .info_remind {
      position: absolute;
      top: 7px;
      display: block;
      border: 1px solid #fedbd1;
      right: 68px;
      background-color: #fef7f5;
      color: #ff572a;
      padding: 4px 6px; }
      .login_bd .wrap .info_remind .safe_icon {
        background: url("../img/login/safe_icon.png") no-repeat;
        display: inline-block;
        width: 15px;
        height: 17px;
        vertical-align: middle;
        margin-right: 4px; }
      .login_bd .wrap .info_remind .arrow_icon {
        position: absolute;
        left: none;
        top: 6px;
        display: block;
        background: url("../img/login/arrow_right_icon.png") no-repeat;
        display: inline-block;
        width: 12px;
        height: 12px;
        right: -12px; }
      .login_bd .wrap .info_remind .startTip {
        display: inline; }
      .login_bd .wrap .info_remind .quickTip {
        display: none; }
    .login_bd .wrap .infro {
      width: 311px;
      float: right; }
      .login_bd .wrap .infro .password_login {
        font-size: 18px;
        line-height: inherit;
        color: #3c3c3c;
        font-family: 'Microsoft Yahei';
        margin-top: 5px; }
      .login_bd .wrap .infro #place.placeholder, .login_bd .wrap .infro #password_span.placeholder {
        position: absolute;
        left: 40px;
        top: 0;
        display: block;
        font-size: 13.33px;
        line-height: 34px;
        color: #b0b0b0;
        width: 270px;
        height: 34px;
        padding-left: 0;
        font-family: 'Microsoft Yahei';
        display: block;
        z-index: 20;
        background: none; }
      .login_bd .wrap .infro .username, .login_bd .wrap .infro .password, .login_bd .wrap .infro .code {
        border: 1px solid #e6e6e6;
        height: 36px;
        width: 310px;
        border-radius: 2px;
        position: relative; }
        .login_bd .wrap .infro .username > span, .login_bd .wrap .infro .password > span, .login_bd .wrap .infro .code > span {
          width: 30px;
          margin-right: 10px;
          height: 36px;
          float: left;
          background: url("../img/login/icon.png") 10px -110px no-repeat; }
        .login_bd .wrap .infro .username > input, .login_bd .wrap .infro .password > input, .login_bd .wrap .infro .code > input {
          font-size: 14px;
          line-height: 34px;
          color: #ccc;
          float: left;
          height: 34px;
          border: 0;
          font-family: "Microsoft Yahei";
          padding: 0; }
        .login_bd .wrap .infro .username.focus, .login_bd .wrap .infro .password.focus, .login_bd .wrap .infro .code.focus {
          border-color: #969696; }
        .login_bd .wrap .infro .username.blur, .login_bd .wrap .infro .password.blur, .login_bd .wrap .infro .code.blur {
          border-color: #e6e6e6;
          color: #a0a0a0; }
        .login_bd .wrap .infro .username .username > input, .login_bd .wrap .infro .username .password > input, .login_bd .wrap .infro .password .username > input, .login_bd .wrap .infro .password .password > input, .login_bd .wrap .infro .code .username > input, .login_bd .wrap .infro .code .password > input {
          width: 270px; }
      .login_bd .wrap .infro .username {
        margin-top: 20px;
        position: relative; }
        .login_bd .wrap .infro .username.error {
          background-position: -14px -110px; }
      .login_bd .wrap .infro .password > span {
        background-position: 10px -150px; }
      .login_bd .wrap .infro .password.error {
        background-position: -14px -150px; }
      .login_bd .wrap .infro .code {
        width: 126px;
        float: left; }
        .login_bd .wrap .infro .code span {
          background-position: 10px -189px; }
        .login_bd .wrap .infro .code.error {
          background-position: -16px -189px; }
        .login_bd .wrap .infro .code input {
          width: 86px;
          float: left; }
      .login_bd .wrap .infro .text_del {
        position: absolute;
        left: 290px;
        top: 12px;
        display: block;
        width: 10px;
        height: 11px;
        background: url("../img/login/icon.png") 0 -230px no-repeat; }
        .login_bd .wrap .infro .text_del:hover {
          background-position: -31px -230px; }
      .login_bd .wrap .infro .pwdReplace {
        font-size: 13px;
        line-height: 21px;
        color: #B0B0B0;
        float: left;
        height: 21px;
        cursor: text;
        margin-top: -28px; }
      .login_bd .wrap .infro .replacetype1 {
        position: absolute;
        left: none;
        top: 44px;
        display: block;
        right: 0; }
      .login_bd .wrap .infro .code_wrap {
        height: 38px; }
      .login_bd .wrap .infro .tips {
        height: 30px;
        line-height: 30px;
        padding-top: 0px;
        padding-left: 10px; }
        .login_bd .wrap .infro .tips span {
          display: none; }
          .login_bd .wrap .infro .tips span.big_tip, .login_bd .wrap .infro .tips span.error_choose {
            background: url("../img/login/big_tip_bg.png") 0 0 no-repeat;
            margin-left: -10px;
            color: #ff8400;
            padding-left: 32px; }
          .login_bd .wrap .infro .tips span.error_choose {
            padding-left: 10px;
            color: #505050; }
            .login_bd .wrap .infro .tips span.error_choose b {
              background-color: #fff0cf; }
            .login_bd .wrap .infro .tips span.error_choose input {
              margin: 0 3px 0 7px;
              vertical-align: text-bottom; }
      .login_bd .wrap .infro .code_pic {
        width: 86px;
        height: 38px;
        float: left;
        margin: 0 15px 0 5px; }
        .login_bd .wrap .infro .code_pic img {
          width: 86px;
          height: 38px; }
      .login_bd .wrap .infro .code_wrap a {
        line-height: 38px; }
      .login_bd .wrap .infro .error {
        border: 1px solid #ff0000; }
      .login_bd .wrap .infro .error_words {
        color: #f42e00; }
      .login_bd .wrap .infro .auto_login {
        height: 27px;
        line-height: 22px;
        padding-top: 7px;
        width: 310px;
        overflow: hidden; }
        .login_bd .wrap .infro .auto_login a {
          float: right; }
        .login_bd .wrap .infro .auto_login input {
          vertical-align: middle;
          margin-top: -1px; }
      .login_bd .wrap .infro .btn a {
        font-size: 20px;
        line-height: 44px;
        color: #fff;
        width: 100%;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        font-family: "Microsoft Yahei";
        background: #ff2832; }
        .login_bd .wrap .infro .btn a:hover {
          background: #f01923;
          text-decoration: none; }
      .login_bd .wrap .infro .register {
        height: 24px;
        line-height: 24px;
        padding-top: 6px; }
        .login_bd .wrap .infro .register .register_btn {
          float: right;
          color: #6e6e6e; }
          .login_bd .wrap .infro .register .register_btn:hover {
            color: #505050; }
        .login_bd .wrap .infro .register .other {
          float: left; }
      .login_bd .wrap .infro .partner dt {
        float: left;
        margin-right: 5px; }
        .login_bd .wrap .infro .partner dt a {
          width: 20px;
          height: 20px;
          display: block;
          background: url("../img/login/icon.png") 0 -260px no-repeat;
          text-indent: 99em;
          overflow: hidden; }
          .login_bd .wrap .infro .partner dt a.qq {
            background-position: 0 -260px; }
            .login_bd .wrap .infro .partner dt a.qq:hover {
              background-position: -20px -260px; }
          .login_bd .wrap .infro .partner dt a.wx {
            background-position: 0 -280px; }
            .login_bd .wrap .infro .partner dt a.wx:hover {
              background-position: -20px -280px; }
          .login_bd .wrap .infro .partner dt a.wb {
            background-position: 0 -300px; }
            .login_bd .wrap .infro .partner dt a.wb:hover {
              background-position: -20px -300px; }
          .login_bd .wrap .infro .partner dt a.alpay {
            background-position: 0 -320px; }
            .login_bd .wrap .infro .partner dt a.alpay:hover {
              background-position: -20px -320px; }
      .login_bd .wrap .infro .partner dd {
        padding-left: 10px;
        position: relative;
        float: left;
        line-height: 20px; }
        .login_bd .wrap .infro .partner dd a {
          color: #969696; }
          .login_bd .wrap .infro .partner dd a:hover {
            color: #787878;
            text-decoration: none; }
          .login_bd .wrap .infro .partner dd a em {
            width: 8px;
            height: 20px;
            display: inline-block;
            background: url("../img/login/icon.png") 0 -340px no-repeat;
            vertical-align: text-bottom;
            margin-left: 5px; }
        .login_bd .wrap .infro .partner dd ul {
          position: absolute;
          left: 10px;
          top: 24px;
          display: block;
          border: 1px solid #eaeaea;
          width: 190px;
          padding: 5px 0 1px 10px;
          background-color: #fafafa;
          border-radius: 2px; }
          .login_bd .wrap .infro .partner dd ul li {
            float: left;
            margin-right: 22px;
            height: 18px;
            line-height: 18px; }
            .login_bd .wrap .infro .partner dd ul li.arrow {
              position: absolute;
              left: 7px;
              top: -5px;
              display: block;
              width: 10px;
              height: 6px;
              background: url("../img/login/more_arr.png") 0 0 no-repeat; }
            .login_bd .wrap .infro .partner dd ul li.mr {
              margin-right: 0; }
            .login_bd .wrap .infro .partner dd ul li a {
              color: #6e6e6e; }
              .login_bd .wrap .infro .partner dd ul li a:hover {
                color: #505050; }
      .login_bd .wrap .infro .new_tip {
        position: absolute;
        left: none;
        top: 54px;
        display: block;
        border: 1px solid #fedbd1;
        font-size: inherit;
        line-height: 24px;
        color: #828282;
        padding-left: 22px;
        background: url("../img/login/new_tip.png") 3px 5px no-repeat #fef7f5;
        right: 0; }
        .login_bd .wrap .infro .new_tip a {
          color: #1a66b3; }
      .login_bd .wrap .infro.quick_login {
        height: 403px; }
      .login_bd .wrap .infro .two_code {
        text-align: center;
        margin-top: 80px;
        height: 148px; }
        .login_bd .wrap .infro .two_code .pic_code {
          position: absolute;
          left: 73px;
          top: 108px;
          display: block;
          border: 1px solid #ececec;
          padding: 8px; }
        .login_bd .wrap .infro .two_code img {
          width: 145px;
          height: 145px;
          display: block; }
      .login_bd .wrap .infro .tel_remind {
        text-align: center;
        font-size: 14px;
        color: #6c6c6c;
        margin-top: 65px; }
        .login_bd .wrap .infro .tel_remind .information span {
          color: #ff2832;
          margin-right: 16px; }
      .login_bd .wrap .infro .register .now_regist {
        background: url("../img/login/now_regist.png") no-repeat;
        display: inline-block;
        width: 14px;
        height: 14px;
        float: right;
        margin: 6px 5px 0 0; }
      .login_bd .wrap .infro .tel_pic {
        position: absolute;
        top: 81px;
        display: block;
        background: url("../img/login/tel_pic.png");
        width: 155px;
        height: 190px;
        right: -12px; }
      .login_bd .wrap .infro .scan_success .img {
        text-align: center;
        margin-top: 56px; }
      .login_bd .wrap .infro .scan_success p {
        text-align: center; }
      .login_bd .wrap .infro .scan_success .qrsuccess {
        font-size: 14px;
        color: #828282;
        margin-top: 20px; }
      .login_bd .wrap .infro .scan_success .confirm {
        font-size: 16px;
        color: #323232;
        margin-top: 8px; }
      .login_bd .wrap .infro .scan_success .return_btn {
        display: block;
        width: 86px;
        margin: 24px auto 0;
        color: #ff2832; }
    .login_bd .wrap .login_core a.btn {
      width: 100%;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      height: 44px;
      text-align: center;
      font: normal 20px/44px "Microsoft Yahei";
      background: #ff2832; }
      .login_bd .wrap .login_core a.btn:hover {
        background: #f01923;
        text-decoration: none; }
    .login_bd .wrap .login_core .contact {
      display: block; }
      .login_bd .wrap .login_core .contact a {
        color: #969696;
        text-decoration: none; }
        .login_bd .wrap .login_core .contact a:hover {
          text-decoration: underline; }
        .login_bd .wrap .login_core .contact a .change_verify {
          margin-left: 115px;
          display: none; }
        .login_bd .wrap .login_core .contact a .contact_service {
          float: right; }
    .login_bd .wrap .login_core .list li {
      padding: 14px 0;
      line-height: 36px;
      height: 38px;
      position: relative; }
      .login_bd .wrap .login_core .list li .ltip {
        position: absolute;
        left: 90px;
        top: 46px;
        display: block;
        color: #969696; }
        .login_bd .wrap .login_core .list li .ltip.wrong {
          color: #ff2832; }
    .login_bd .wrap .login_core .list input {
      font-size: 12px;
      line-height: 36px;
      color: #969696;
      border: 1px solid #d2d2d2;
      font-family: "Microsoft Yahei";
      width: 200px;
      padding: 0 0 0 10px;
      margin-right: 6px;
      display: inline-block;
      vertical-align: middle; }
      .login_bd .wrap .login_core .list input.long {
        width: 220px;
        margin-right: 6px; }
      .login_bd .wrap .login_core .list input.name {
        float: left;
        width: 85px;
        text-align: right;
        margin-right: 6px;
        font-size: 14px;
        line-height: 38px; }
      .login_bd .wrap .login_core .list input.small {
        width: 70px;
        margin-right: 18px; }
      .login_bd .wrap .login_core .list input:focus {
        border-color: #969696; }
    .login_bd .wrap .login_core .list .code {
      display: inline-block;
      width: 85px;
      height: 38px;
      margin-right: 8px;
      vertical-align: middle; }
    .login_bd .wrap .login_core .list .tip {
      text-align: center;
      color: #6e6e6e; }
    .login_bd .wrap .login_core .list .btn_check, .login_bd .wrap .login_core .list .btn_uncheck {
      border: 1px solid #d2d2d2;
      display: inline-block;
      height: 36px;
      color: #646464;
      background-color: #f6f6f6;
      width: 110px;
      text-align: center;
      vertical-align: middle; }
    .login_bd .wrap .login_core .list .btn_check:hover {
      background-color: #fbfbfb; }
    .login_bd .wrap .login_core .list .btn_uncheck {
      background-color: #fbfbfb;
      cursor: text; }
    .login_bd .wrap .login_core .list .btn_red {
      background-color: #ff2832;
      display: inline-block;
      width: 86px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #fff; }
      .login_bd .wrap .login_core .list .btn_red:hover {
        background-color: #f01923; }
