.p_cart {
	font-size: 16px;
	font-weight: bold;
	color: #dd182b;
}

.cart-box {
	height: 400px;
	/*border: 1px solid #dd182b;*/
	/*border-radius: 15px;*/
}

.cart-table {
	margin: 0 100px;
}

.cart-table tr {
	height: 50px;

}

.cart-table .tr {
	text-align: right;

}

.cart-table input {
	height: 32px;
	width: 337px;
	border: 1px solid #424242;
}

tr td textarea {
	/*height: 48px;
	width: 336px;*/
	border: 1px solid #424242;
	resize: none;
	line-height: 1.2;
}

.cart-input {
	margin-left: 180px; /*174*/
	width: 50px;
	height: 28px;
	background-color: #dd182b;
	color: #f5f5f5;
}